In [549]:
import pandas as pd

In [550]:
df=pd.read_csv('adult.data.csv')

In [551]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [552]:
male=df[df['sex']=='Male']
average_age_men = average_age_men=male['age'].mean()

In [553]:
average_age_men

39.43354749885268

In [554]:
male=df[df['sex']=='Male']
average_age_men = average_age_men=male['age'].mean()

# What is the percentage of people who have a Bachelor's degree?
bachelors =len(df[df['education']=='Bachelors'])
percentage_bachelors=(bachelors/ len(df))*100


# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
# What percentage of people without advanced education make more than 50K?

# with and without `Bachelors`, `Masters`, or `Doctorate`
higher_education = df[df['education'].isin(['Bachelors', 'Masters','Doctorate'])]
lower_education = df[~df['education'].isin(['Bachelors', 'Masters','Doctorate'])]

# percentage with salary >50K
higher_educ_rich=higher_education[higher_education['salary']=='>50K']
                     


higher_educ_rich=higher_education[higher_education['salary']=='>50K']
higher_education_rich= len(higher_educ_rich)/len(higher_education)*100

In [555]:
percentage_bachelors

16.44605509658794

In [556]:
race_count = df['race'].value_counts()

In [557]:
race_count

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [558]:
lower_educ_rich=lower_education[lower_education['salary']=='>50K']
lower_education_rich=len(lower_educ_rich)/len(lower_education)*100

In [559]:
lower_education_rich

17.3713601914639

In [560]:
round(lower_education_rich)

17

In [561]:
min_work_hours = df['hours-per-week'].min()

In [562]:
min_work_hours

1

In [572]:

min_hours_workers = df[df['hours-per-week'] == min_work_hours]


num_rich_min_hours = len(min_hours_workers[min_hours_workers['salary'] == '>50K'])

In [573]:
percentage_rich_min_hours = (num_rich_min_hours / len(min_hours_workers)) * 100

In [574]:
percentage_rich_min_hours

10.0

IndexError: invalid index to scalar variable.